* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 5px;
}

#green {
    background-color: green;
    color: white;
    cursor: pointer;
}

#red {
    background-color: red;
    color: white;
    cursor: pointer;
}

#blue {
    background-color: blue;
    color: white;
    cursor: pointer;
}